// Colors

// $color-green: #52862f;  // Logo
$color-green: #749f34; // Original
// $color-green: #9eb731; // New
$color-green-dark: darken($color-green, 5%);
$color-gray: #a7a9ac;
$color-gray-light: #efefef;
$color-white: #fff;
$color-black: #000;
$color-black-light: #231f20;
