// Typography

$font-family-primary: 'Source Sans Pro', sans-serif;;
$font-family-secondary: 'Roboto', sans-serif;

$font-weight-one: 500;
$font-weight-two: 600;

$font-heading-size-one: 45px;
$font-heading-size-two: 35px;
$font-heading-size-three: 30px;
$font-heading-size-four: 27px;
$font-heading-size-five: 25px;
$font-heading-size-six: 22px;

$font-size-one: 16px;
$font-size-two: 18px;
$font-size-three: 20px;
