// Footer

footer {
  position: relative;
  padding: 30px 0 15px;
  background: $color-green;
  color: $color-white;
  a {
    color: $color-white;
    &:hover,
    &:focus {
      color: $color-white;
    }
  }
  .row {
    padding: 0 0 15px;
  }
  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      float: left;
      padding: 0 5px;
    }
  }
  .legal-box {
    text-align: center;
  }
  .socials-box {
    text-align: center;
    a {
      display: inline-block;
      height: 30px;
      width: 30px;
      padding: 1px 0 0;
      border: 1px solid $color-white;
    }
  }
}
.scroll-top {
  position: absolute;
  right: 30px;
  top: -70px;
  &:hover,
  &:focus {
    cursor: pointer;
    i {
      background: $color-green-dark;
    }
  }
  i {
    padding: 10px 12px;
    font-size: $font-heading-size-six;
    font-weight: $font-weight-two;
    background: $color-green;
    color: $color-white;
  }
}
