// Header

header {
  z-index: 1;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 0;
  @media (max-width: 767px) {
    padding: 0;
  }
  .col-xs-12 {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}
.mobile-nav-icon {
  display: none;
  text-align: right;
  background: transparent;
  @media (max-width: 767px) {
    display: block;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
  .mobile-nav-icon-toggle {
    display: inline-block;
    padding: 10px;
    font-size: $font-heading-size-four;
    background: $color-green;
    color: $color-white;
  }
}
nav {
  text-align: center;
  @media (max-width: 767px) {
    padding: 0 15px;
    background: $color-green;
  }
  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    @media (max-width: 767px) {
      display: none;
      width: 100%;
      height: 100vh;
    }
    li {
      float: left;
      padding: 70px 25px 0;
      @media (max-width: 1199px) {
        padding: 65px 15px 0;
      }
      @media (max-width: 991px) {
        padding: 50px 5px 0;
      }
      @media (max-width: 767px) {
        width: 100%;
        padding: 10px 0;
      }
      &.home-link {
        display: none;
        @media (max-width: 767px) {
          display: inline-block;
        }
      }
      &.logo-link {
        padding-top: 0;
        @media (max-width: 767px) {
          display: none;
        }
        img {
          width: 300px;
          @media (max-width: 1199px) {
            width: 275px;
          }
          @media (max-width: 991px) {
            width: 225px;
          }
        }
      }
      a {
        display: inline-block;
        font-size: $font-size-three;
        text-decoration: none;
        color: $color-white;
        @media (max-width: 991px) {
          font-size: $font-size-two;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          color: $color-white;
        }
        &.logo-box {
          text-align: center;
        }
        &.fancy-button {
          display: inline;
          top: -6px;
        }
        &.padding-fix {
          padding-left: 44px;
          @media (max-width: 767px) {
            padding-left: 0;
          }
        }
      }
    }
  }
}
.mobile-nav-open {
  background: $color-green;
  nav {
    ul {
      display: inline-block;
    }
  }
}
