// Home

.sign-up-form-box {
  padding: 30px 0 0;
  #mktoForm_1340 {
    width: 100% !important;
    text-align: center;
    .mktoFormRow {
      display: inline-block;
    }
    .mktoLabel {
      display: none;
    }
    .mktoField {
      padding: 7px 3px;
      font-family: $font-family-primary;
      font-size: $font-size-two;
      font-weight: $font-weight-one;
      font-style: italic;
      @media (max-width: 551px) {
        width: 100% !important;
      }
    }
    .mktoButtonWrap {
      position: relative;
      display: inline-block;
      margin: 0 !important;
    }
    .mktoButtonRow {
      vertical-align: top;
      @media (max-width: 551px) {
        width: 100% !important;
        text-align: center;
      }
    }
    .mktoButton {
      margin: 3px 0 0 30px;
      padding: 3px 20px;
      border: 2px solid $color-green;
      font-family: $font-family-primary;
      font-size: $font-size-two;
      font-weight: $font-weight-one;
      text-transform: uppercase;
      background: transparent;
      color: $color-white;
      @media (max-width: 551px) {
        margin: 0 0 15px;
      }
      &:hover,
      &:focus {
        border-color: $color-green-dark;
      }
    }
  }
  p {
    font-style: italic;
  }
}
.home-schedule-section {
  .schedule-sponsor-title {
    margin: 0;
    padding: 0 0 5px;
    font-size: $font-size-three;
  }
  .schedule-date {
    padding: 0 0 15px;
  }
  .option-title {
    padding: 15px 0 0;
    font-size: $font-heading-size-six;
  }
  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      text-align: left;
    }
  }
  .fancy-button {
    display: inline-block;
    margin: 45px 0 0;
    font-size: $font-size-three;
  }
}
