// Register

.register-section {
  .register-form-box {
    padding: 30px 0 45px;
    background: $color-gray-light;
  }
  #mktoForm_1249 {
    width: 100% !important;
    text-align: center;
    .mktoFormRow {
      display: inline-block;
    }
    .mktoLabel {
      display: none;
    }
    .mktoField {
      padding: 7px 3px;
      font-family: $font-family-primary;
      font-size: $font-size-two;
      font-weight: $font-weight-one;
      font-style: italic;
      @media (max-width: 551px) {
        width: 100% !important;
      }
    }
    .mktoButtonWrap {
      position: relative;
      display: inline-block;
      margin: 0 !important;
    }
    .mktoButtonRow {
      vertical-align: top;
      width: 100% !important;
      text-align: center;
    }
    .mktoButton {
      padding: 3px 20px;
      border: 2px solid $color-green;
      font-family: $font-family-primary;
      font-size: $font-size-two;
      font-weight: $font-weight-one;
      text-transform: uppercase;
      background: transparent;
      color: $color-black;
      &:hover,
      &:focus {
        border-color: $color-green-dark;
      }
    }
  }
  .social-login-block {
    .social-login-container {
      .social-login {
        &.facebook {

        }
        &.linkedin {

        }
      }
    }
  }
}
