.schedule-section {
  .content-section-title {
    padding-top: 30px;
  }
}
.schedule-box {
  div[class^="col-"] {
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 0 ;
    padding: 0;
    li {
      padding: 15px;
      span {
        color: $color-green;
      }
    }
  }
  .schedule-left-side,
  .schedule-right-side {
    li {
      border-bottom: 1px solid $color-gray;
      border-right: 1px solid $color-gray;
    }
  }
  .schedule-left-side {
    li {
      border-left: 1px solid $color-gray;
    }
  }
  .schedule-right-side {

  }
  .schedule-heading {
    font-size: $font-heading-size-six;
    border: 0 !important;
    background: $color-green;
    color: $color-white;
  }
}
