// Theme

.heading-section {
  padding: 150px 0 75px;
  text-align: center;
  color: $color-white;
  @media (max-width: 767px) {
    padding: 50px 0 75px;
  }
  .heading-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/src/images/cash-flow-wealth-summit-banner.jpg") center center no-repeat;
    background-size: cover;
  }
  h1 {
    padding: 30px 0 0;
    color: $color-white;
  }
  h2 {
    padding: 0 0 20px;
    color: $color-white;
  }
  p {
    span {
      border-bottom: 1px solid $color-white;
    }
  }
}
.speaker-bio {
  padding: 0 0 30px;
  text-align: center;
  .speaker-bio-image {
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
  }
  p {
    margin: 0;
  }
  .speaker-bio-name {
    padding: 10px 0;
  }
  .speaker-bio-title {

  }
  .speaker-bio-company {

  }
}
