// Typography

body {
  font-family: $font-family-primary;
  font-size: $font-size-two;
  font-weight: $font-weight-one;
  color: $color-black-light;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
  color: $color-black-light;
}
h1,
.h1 {
  font-size: $font-heading-size-one;
  font-weight: $font-weight-two;
  @media (max-width: 767px) {
    font-size: $font-heading-size-two;
  }
  @media (max-width: 551px) {
    font-size: $font-heading-size-three;
  }
  @media (max-width: 370px) {
    font-size: $font-heading-size-four - 2px;
  }
}
h2,
.h2 {
  font-size: $font-heading-size-two;
  font-weight: $font-weight-two;
  @media (max-width: 767px) {
    font-size: $font-heading-size-three;
  }
  @media (max-width: 551px) {
    font-size: $font-heading-size-four;
  }
  @media (max-width: 370px) {
    font-size: $font-heading-size-five - 2px;
  }
}
h3,
.h3 {
  font-size: $font-heading-size-three;
  @media (max-width: 767px) {
    font-size: $font-heading-size-four;
  }
  @media (max-width: 551px) {
    font-size: $font-heading-size-five;
  }
  @media (max-width: 370px) {
    font-size: $font-heading-size-six - 1px;
  }
}
h4,
.h4 {
  font-size: $font-heading-size-four;
  @media (max-width: 767px) {
    font-size: $font-heading-size-five;
  }
  @media (max-width: 551px) {
    font-size: $font-heading-size-six;
  }
  @media (max-width: 370px) {
    font-size: $font-size-three - 1px;
  }
}
h5,
.h6 {
  font-size: $font-heading-size-five;
  @media (max-width: 767px) {
    font-size: $font-heading-size-six;
  }
  @media (max-width: 551px) {
    font-size: $font-size-three;
  }
  @media (max-width: 370px) {
    font-size: $font-size-two;
  }
}
h6,
.h6 {
  font-size: $font-heading-size-six;
  @media (max-width: 767px) {
    font-size: $font-size-three;
  }
  @media (max-width: 551px) {
    font-size: $font-size-two;
  }
  @media (max-width: 551px) {
    font-size: $font-size-one;
  }
}
a {
  color: $color-black-light;
  &:hover,
  &:focus {
    color: $color-black-light;
    text-decoration: none;
  }
}
