// Utilities

// ----- Section
.content-section {
  position: relative;
  padding: 50px 0;
}
.content-section-title {
  padding: 0 0 45px;
  text-align: center;
}

// ----- Text
.green-text {
  color: $color-green;
}
.uppercase-text {
  text-transform: uppercase;
}

// ----- Buttons
.fancy-button {
  border: 2px solid $color-green;
  background: transparent;
  &:hover,
  &:focus {
    border-color: $color-green-dark;
  }
  &.small-button {
    padding: 3px 20px;
  }
  &.big-button {
    padding: 8px 25px;
  }
}
